body {
	background-color: #F5F5dc;
	font-family: 'Cormorant Garamond', serif;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 600px) {
	#bio {
	margin-top: -15px;
	font-weight: 500;
	width: 100%;
	font-size: 20px;
	}

	#text {
		width: 100%;
	}
}

@media only screen and (min-width: 600px) {
	#bio {
	margin-top: -15px;
	font-weight: 500;
	width: 80%;
	font-size: 20px;
	}

	#text {
		width: 80%;
	}	
}

@media only screen and (min-width: 768px) {
	#bio {
	margin-top: -15px;
	font-weight: 500;
	width: 50%;
	font-size: 20px;
	}

	#text {
		width: 50%;
	}
}

@media only screen and (min-width: 992px) {
	#bio {
	margin-top: -15px;
	font-weight: 500;
	width: 50%;
	font-size: 20px;
	}

	#text {
		width: 50%;
	}	
}

@media only screen and (min-width: 1200px) {
	#bio {
	margin-top: -15px;
	font-weight: 500;
	width: 50%;
	font-size: 20px;
	}

	#text {
		width: 50%;
	}
}

.biz {
	color: navy;
	text-decoration: none;
}

.biz:visited {
	color: navy;
	text-decoration: none;
}

.biz:hover {
	color: black;
	text-decoration: underline;
}

#linkedin {
	color: navy;
	text-decoration: none;
}

#linkedin:visited {
	color: navy;
	text-decoration: none;
}

#linkedin:hover {
	color: black;
	text-decoration: underline;
}

#insta {
	color: navy;
	text-decoration: none;
}

#insta:visited {
	color: navy;
	text-decoration: none;
}

#insta:hover {
	color: black;
	text-decoration: underline;
}

#music {
	color: navy;
	text-decoration: none;
}

#music:visited {
	color: navy;
	text-decoration: none;
}

#music:hover {
	color: black;
	text-decoration: underline;
}

#everything {
	color: navy;
	text-decoration: none;
}

#everything:visited {
	color: navy;
	text-decoration: none;
}

#everything:hover {
	color: black;
	text-decoration: underline;
}

#poems {
	color: navy;
	text-decoration: none;
}

#poems:visited {
	color: navy;
	text-decoration: none;
}

#poems:hover {
	color: black;
	text-decoration: underline;
}


#x {
	color: navy;
	text-decoration: none;
}

#x:visited {
	color: navy;
	text-decoration: none;
}

#x:hover {
	color: black;
	text-decoration: underline;
}

#notes {
	color: navy;
	text-decoration: none;
}

#notes:visited {
	color: navy;
	text-decoration: none;
}

#notes:hover {
	color: black;
	text-decoration: underline;
}

#code {
	color: navy;
	text-decoration: none;
}

#code:visited {
	color: navy;
	text-decoration: none;
}

#code:hover {
	color: black;
	text-decoration: underline;
}

#title-one {
	color: black;
	text-decoration: none;
}

#title-one:hover {
	text-decoration: underline;
}

#title-one:visited {
	color: black;
}

#title-two {
	color: black;
	text-decoration: none;
}

#title-two:hover {
	text-decoration: underline;
}

#title-two:visited {
	color: black;
}

#link-one {
	text-decoration: none;
	color: navy;
}

#link-one:hover {
	color: black;
	text-decoration: underline;
}

#link-one:visited {
	text-decoration: none;
	color: navy;
}

p, a{
	font-weight: 500;
	font-size: 20px;
}